* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background: #ADD8E6; */
  background: #062863;
  /* color: #4a5568; */
  color: #062863;
  line-height: 1.5;
}

/* body {
  background-image:
    url(https://dashboard.piggyvest.com/register/image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAEsCAYAAAB5fY51AAAAGXRFW…DDAgDAsAAAwwIAwLAAADAsAMCwAAAwLAAADAsAUuL/BRgAbdjMWJwXo90AAAAASUVORK5CYII=),
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAEsCAYAAAB5fY51AAAAGXRFW…CwAAAQFgAAwgIAhAUAgLAAABAWACAsAACEBQDQAf5fgAEAyw11IJv0GU8AAAAASUVORK5CYII=),
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAEsCAYAAAB5fY51AAAAGXRFW…IAAgsAgQUABBYAEFgACCwAILAAgMACQGABAIEFAD35nwADALRKT8CBeskNAAAAAElFTkSuQmCC),
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAEsCAYAAAB5fY51AAAAGXRFW…CGBQCAYQEAYFgAgGEBAGBYAAAYFgBgWAAAGBYAwL75gwADAJg9Yl+p8U3/AAAAAElFTkSuQmCC);
  background-size: 15%,
    15%,
    15%,
    15%;
  background-position: left -1% top -15%,
    right -7.5% top -1%,
    left -5% bottom -10%,
    right -5% bottom -5%;
  background-repeat: no-repeat,
    no-repeat,
    no-repeat,
    no-repeat;
} */

img {
  max-width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 3rem;
}

canvas,
img,
object,
svg {
  display: block;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

#container {
  margin: 30px auto;
  max-width: 30rem;
  padding: 20px;
}

.form-wrap {
  background: #fff;
  padding: 2.5rem;
  padding-bottom: 3rem;
  color: #333;
  border-radius: 1.25rem;
}

.form-wrap h1 {
  color: #083e9e;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.form-wrap p {
  font-size: .875rem;
  color: #4a5568;
}

.form-wrap h1,
.form-wrap p {
  text-align: center;
}

.form-wrap .form-group {
  margin-top: 15px;
}

.form-wrap .form-group label {
  display: block;
  color: #4a5568;
  padding-bottom: 1px;
}

.form-wrap .form-group input {
  font-family: inherit;
  font-size: 100%;
  background-color: rgb(232, 240, 254) !important;
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  outline: 0;
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
}

.form-wrap button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background: #49c1a2;
  color: #fff;
  cursor: pointer;
}

.form-wrap button:hover {
  background: #37a08e
}

.form-wrap .bottom-text {
  font-size: 13px;
  margin-top: 20px;
}

footer {
  text-align: center;
  margin-top: 10px;
}

footer a {
  color: #49c1a2
}